{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block content %}

    <!-- I want this just to show a homepage with a sidebar containing links to the other pages -->
    <h1>Trade Summary</h1>
    <div class="table text-center">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">{{ user_dict.1.team_name }}</th>
                    <th scope="col">{{ user_dict.2.team_name }}</th>
                    <th scope="col">{{ user_dict.3.team_name }}</th>
                    <th scope="col">{{ user_dict.4.team_name }}</th>
                    <th scope="col">{{ user_dict.5.team_name }}</th>
                    <th scope="col">{{ user_dict.6.team_name }}</th>
                    <th scope="col">{{ user_dict.7.team_name }}</th>
                    <th scope="col">{{ user_dict.8.team_name }}</th>
                    <th scope="col">{{ user_dict.9.team_name }}</th>
                    <th scope="col">{{ user_dict.10.team_name }}</th>
                    <th scope="col">{{ user_dict.11.team_name }}</th>
                    <th scope="col">{{ user_dict.12.team_name }}</th>
                </tr>
            </thead>
            <tbody>
                {% for trade in trades %}
                    <tr>
                        <td>{{ trade[5] }}</td>
                        <td>{{ trade[6] }}</td>
                        <td>{{ trade[7] }}</td>
                        <td>{{ trade[8] }}</td>
                        <td>{{ trade[9] }}</td>
                        <td>{{ trade[10] }}</td>
                        <td>{{ trade[11] }}</td>
                        <td>{{ trade[12] }}</td>
                        <td>{{ trade[13] }}</td>
                        <td>{{ trade[14] }}</td>
                        <td>{{ trade[15] }}</td>
                        <td>{{ trade[16] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}